body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:469px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:3px;
  width:467px;
  height:830px;
  font-family:'';
  font-weight:normal;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:830px;
}
#u1 {
  position:absolute;
  left:2px;
  top:407px;
  width:463px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:30px;
  width:469px;
  height:69px;
  font-family:'';
  font-weight:normal;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:69px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:465px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:32px;
  font-family:'';
  font-weight:normal;
  font-style:normal;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:32px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:465px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:48px;
  width:32px;
  height:32px;
  font-family:'';
  font-weight:normal;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1px;
  top:133px;
  width:468px;
  height:120px;
  font-family:'';
  font-weight:normal;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:120px;
}
#u9 {
  position:absolute;
  left:2px;
  top:52px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:29px;
  top:153px;
  width:109px;
  height:23px;
  font-family:'';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#C9C9C9;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:23px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:23px;
  top:187px;
  width:446px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:429px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:446px;
  height:1px;
}
#u13 {
  position:absolute;
  left:29px;
  top:211px;
  width:171px;
  height:23px;
  font-family:'';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:23px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:15px;
  top:284px;
  width:440px;
  height:57px;
  font-family:'';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:57px;
}
#u16 {
  position:absolute;
  left:2px;
  top:17px;
  width:436px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:128px;
  top:383px;
  width:217px;
  height:23px;
  font-family:'';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:23px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:365px;
  top:141px;
  width:95px;
  height:44px;
  font-family:'';
  font-weight:normal;
  font-style:normal;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:44px;
}
#u20 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
