body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:122px;
  top:20px;
  width:578px;
  height:1111px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:1111px;
}
#u1 {
  position:absolute;
  left:2px;
  top:548px;
  width:574px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:176px;
  top:158px;
  width:470px;
  height:833px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:833px;
}
#u3 {
  position:absolute;
  left:2px;
  top:408px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:178px;
  top:159px;
  width:467px;
  height:830px;
}
#u5 {
  position:absolute;
  left:173px;
  top:158px;
  width:10px;
  height:831px;
}
#u5_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u5_end {
  position:absolute;
  left:-5px;
  top:814px;
  width:20px;
  height:18px;
}
#u5_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:831px;
}
#u6 {
  position:absolute;
  left:639px;
  top:158px;
  width:10px;
  height:831px;
}
#u6_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u6_end {
  position:absolute;
  left:-5px;
  top:814px;
  width:20px;
  height:18px;
}
#u6_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:831px;
}
#u7 {
  position:absolute;
  left:176px;
  top:983px;
  width:469px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:452px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:469px;
  height:1px;
}
#u8 {
  position:absolute;
  left:176px;
  top:154px;
  width:469px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:452px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:469px;
  height:1px;
}
